@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}
.btn {
  border-radius: 10px;
  height: 50px;
  width: 150px;
  border: none;
  background-color: #fea301;
  color: aliceblue;
  margin-right: 40px;
}
.img {
  margin-left: 100px;
  height: 50px;
}
.logo {
  display: flex;
  margin-left: 25px;
}
#nav1 {
  color: #fea301;
}
#nav2 {
  color: #01acfd;
}
#nav3 {
  color: #05d4df;
}
#nav4 {
  color: #5d58ef;
}
/* banner style */
.span1 {
  color: #fea301;
}
.span2 {
  color: #01acfd;
}
.btn2 {
  color: aliceblue;
  background-color: black;
  height: 40px;
  width: 150px;
  border-radius: 10px;
}
.img2 {
  height: 22.32rem;
  width: 22.33rem;
  margin-left: 300px;
  margin-top: 5px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  align-items: center;
}
.banner-content {
  width: 640px;
}
.img2 {
  width: 470px;
  height: 575px;
}

/* card  */
.card {
  display: flex;
  gap: 30px;
  margin: 20px;
  text-align: center;
  padding: 50px;
  box-shadow: #05d4df;
}
.container1 {
  background-image: linear-gradient(#def5ff, #ffffff);

  border-radius: 15px;
}
.container2 {
  background-image: linear-gradient(#d0b57a, #ffffff);
  border-radius: 15px;
}
.container3 {
  background-image: linear-gradient(#f2e8ff, #ffffff);
  border-radius: 15px;
}
.h2 {
  justify-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.banner-content {
  background-image: url(bg.png);
  box-shadow: #8700ff;
}
.sing {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.bt {
  background-color: #fea301;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt span {
  font-size: 20px;
}

#h3 {
  color: #64c8ff;
}
#h2 {
  color: #f0aa00;
}
#h1 {
  color: #8700ff;
}
/* image style */
.card1 {
  border-radius: 10px;
  width: 560px;
  height: 580px;
}
.header {
  background-color: #dce1dc;
  color: white;
  padding: 10px;
}
.container {
  background-color: #256225;
}
.header1 {
  background-color: #dce1dc;
  border-radius: 5px;
}

/* footer section */
.footer {
  background-color: #0978a8;
  display: flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;
}
.text {
  color: #dce1dc;
}
.content {
  justify-content: flex-start;
}
/* .footer-content {
  text-align: left;
  height: 22px;
  width: 100px;
} */
/* responsive part */
@media screen and (max-width: 576px) {
  .navbar,
  .img2 {
    flex-direction: column;
    justify-items: flex-start;
  }

  .banner {
    flex-direction: column;
    .banner-content {
      order: 2;
      height: 120px;
      width: 357px;
    }
  }
  .img2 {
    order: 1;
    margin-left: 5px;
    height: 525px;
    width: 357px;
  }
  .banner {
    text-align: center;
    margin-left: 0;
    margin-right: 5px;
    text-align: center;
    margin: 20px;
  }
  /* .navbar {
    flex-direction: column;
  } */
  .nav-container {
    display: none;
  }
  .h2 {
    font-size: 1rem;
    margin-top: 200px;
    font-weight: 200px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 320px;
    padding: 10px;
  }
  .sing {
    display: none;
  }
  .titel {
    text-align: center;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 100px;
    height: 600px;
    width: 380px;
  }
  .text {
    padding: 10px 50px;
  }
  #footr-image {
    margin-top: 40px;
    margin-left: 45px;
  }
}

.curriculum-section {
  background-image: url("../imagess/bg.png");
}

/* 

*/
